@import models._
@import b3.vertical.fieldConstructor
@(user: User)

@main("SWE-Project - Home") {

    <div class="row">
        <h2>Welcome @user.firstName @user.lastName</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        @if(user.role == "admin"){
                            <li><a href="/viewfinances">View Finances</a></li>
                            <li><a href="/viewreservationhistory">View Reservation History</a> </li>
                            <li><a href="/addproduct">Add Product</a></li>
                        }
                        <li><a href="/">View Order History</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}
